@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-very-dark: #31293F;
  --primary-dark: #554D74;
  --primary-medium: #796EA8;
  --primary-light: #A6A9C8;
  --neutral: #D3D9E9;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 100vw;
  height: 8vh;
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-very-dark);
  color: #fff;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

nav img {
  height: 2rem;
  width: 2rem;
  margin-left: 13%;
}

nav .about {
  cursor: pointer;
  font-size: .8rem;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  transition: opacity .15s;
}

nav .about.active {
  color: var(--primary-medium);
}

nav .about:hover {
  opacity: .8;
}

nav .header-btn {
  font-size: .9rem;
  padding: .3rem 1rem;
  text-transform: uppercase;
  border-radius: .3rem;
  border: none;
  background-color: rgba(211, 217, 233, .3);
  color: #fff;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-weight: 500;
}

nav .header-btn .version {
  letter-spacing: 1px;
}

nav .header-btn span {
  position: relative;
  z-index: 1;
}

nav .header-btn::after {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--primary-light);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: .3rem;
  transform: scale(0);
  transition: all .2s;
}

nav .header-btn:active::after {
  transform: scale(1)
}

nav button span {
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: hidden;
}

nav ul li a {
  text-decoration: none;
  font-size: .9rem;
  color: var(--primary-medium);
}

nav ul li a::after {
  content: '';
  display: block;
  margin-top: .2rem;
  width: 100%;
  height: .2rem;
  background-color: var(--primary-medium);
  transform: translateX(-101%);
  transition: .2s ease-in;
  border-radius: .2rem;
}

nav ul li a:hover::after {
  transform: translateX(0);
}

.clipboard-message {
  background-color: #D3D9E9;
  width: 18rem;
  text-align: center;
  font-size: .8rem;
  padding: .5rem 2rem;
  border-radius: .3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8rem;
  opacity: 0;
  transform: scale(0);
  transition: all .5s;
  position: absolute;
  top: 1rem;
  left: 40%;
}

.clipboard-message.active {
  opacity: .8;
  transform: scale(1);
  z-index: 100;
}

main {
  max-width: 80%;
  max-height: fit-content;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2.1rem 1rem 1rem 5rem;
  background-color: #fff;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .3rem;
  position: relative;
}


main .toggle-btn {
  text-transform: uppercase;
  color: var(--primary-medium);
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1.5rem 2rem;
  height: 2rem;
  align-items: center;
  font-size: 1rem;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

main .arrow {
  transition: all .2s;
}

main h5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--primary-very-dark);
}

main .font-selector {
  width: 40%;
  text-transform: capitalize;
}

main .variant-selector {
  width: 60%;
  text-transform: capitalize;
}

.google-fonts-title {
  margin-top: 2.5rem;
}

.google-fonts {
  max-width: 80%;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  transition: all .15s;
}

.add-btn {
  margin-left: -.8rem;
  width: 2.3rem;
  height: 2.3rem;
  background-color: var(--primary-medium);
  border-radius: .2rem;
  color: #E8F1F2;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all .15s;
  border: none;
  box-shadow: 0 2px 5px rgba(49,41,63,.35);
}

.add-btn:hover {
  opacity: .8;
}

.add-btn:active {
  opacity: .6;
  transform: scale(0.95);
}

.css-reset { 
  display: flex;
  align-items: center;
  gap: 1rem; 
  transition: all .15s;
}

.checkbox-container {
  height: 1rem;
  width: 1rem;
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #D3D9E9;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--primary-medium);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-dark);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  text-align: center;
  left: 25%;
  right: 0;
  top: 25%;
  bottom: 0;
  height: .5rem;
  width: .5rem;
  background-color: var(--primary-light)
}

.ctc-message {
  font-size: .6rem;
  text-align: right;
  text-transform: lowercase;
  color: var(--primary-dark);
}


.css-render {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  min-height: 18rem;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: var(--primary-medium);
  /* background: linear-gradient(90deg, var(--primary-medium), var(--primary-light)); */
  padding: 2rem 4rem;
  white-space: pre-wrap;
  word-break: break-all;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
  border-radius: .3rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
  transition: all .25s;
  visibility: hidden;
}

.css-render.active {
  opacity: 1;
  visibility: visible;
}

.reset-btn, .copy-btn {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  transition: all .25s;
  position: relative;
}

.reset-btn::before {
  content: 'Clear CSS';
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem .5rem;
  width: 5rem;
  border-radius: .2rem;
  opacity: 0;
  height: 1.5rem;
  font-size: .8rem;
  background-color: var(--neutral);
  color: var(--primary-very-darks);
  position: absolute;
  bottom: -1.8rem;
  left: -1.5rem;
  transition: opacity .25s;
}

.reset-btn:hover::before {
  opacity: .98;
}

.copy-btn::before { 
  content: 'Copy to Clipboard';
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2rem .5rem;
  width: 8rem;
  border-radius: .2rem;
  opacity: 0;
  height: 1.5rem;
  font-size: .8rem;
  background-color: var(--neutral);
  color: var(--primary-very-darks);
  position: absolute;
  bottom: -1.8rem;
  left: -3rem;
  transition: opacity .25s;
}

.copy-btn:hover::before {
  opacity: .98;
}


.reset-btn:hover, .copy-btn:hover {
  opacity: .7;
}

.reset-btn:active, .copy-btn:active {
  opacity: .7;
  transform: scale(.9)
}

.custom-properties {
  gap: 1.3rem;
  display: flex;
  align-items: center;
  transition: all .25s;
}

.custom-property-input {
  width: 20rem;
  height: 2.3rem;
  padding: 3px 8px;
  font-size: .99rem;
  border-radius: .2rem;
  border: 1px solid lightgray;
}

.custom-property-input::placeholder {
  opacity: .8;
}

.btn-container {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}

.main-active {
  transition: all .5s ease-in-out;
  opacity: 1;
}

.inactive {
  opacity: 0;
  height: 0;
}

.inactive-arrow {
  transform: rotate(180deg);
}

/* About page styling */
.about-container {
  max-width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff;
  margin-top: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .3rem;
}

.about-container p, .about-container ul li {
  font-size: .85rem;
}

.about-container ul li {
  margin-left: 2rem;
}

.line-with-balls {
  max-height: 80%;
  width: 2px;
  background-color: #31293F;
  position: relative;
}

.ball1, .ball2 {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--primary-very-dark);
  opacity: 1;
  outline: 1px solid var(--primary-very-dark);
  border: 1px solid white;
}

.ball1 {
  top: 5.8rem;
  left: -.45rem;
}

.ball2 {
  top: 15.5rem;
  left: -.45rem;
}

.content-container {
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;
}

.about-contact {
 display: flex; 
 flex-direction: column;
 padding: 2rem 1rem;
 gap: 1rem;
 min-width: 30%;
}

.about-details {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 1rem;
}

.api-link {
  text-decoration: none;
  color: var(--primary-light);
}







@media (max-width: 850px) {
  .google-fonts {
    flex-direction: column;
    align-items: flex-start;
  }

  main .font-selector, main .variant-selector {
    width: 100%;
  }

  .custom-properties {
    flex-direction: column;
    align-items: flex-start;
  }
  .custom-property-input {
    width: 80%;
  }
  .add-btn {
    margin-left: 0;
  }

  .css-render {
    padding: 2rem;
  }

  .content-container {
    flex-direction: column;
    padding: 0;
  }

  .about-contact {
    padding: 0;
  }  
  .line-with-balls {
    width: 100%;
    align-self: center;
    height: 2px;
  }

  .ball1, .ball2 {
    display: none;
  }

  .about-details {
    padding: 0;
  }
}